@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Candal&family=Chivo+Mono:wght@100&family=Climate+Crisis&family=Coda+Caption:wght@800&family=Lalezar&family=Poppins:wght@200&family=Roboto&family=Tilt+Warp&display=swap');
input{
    
}

.form-control{
  font-size: 18px;
}
.form-group{
    font-size: 18px;
}
.logarse{
  display: flex;
  justify-content: center;
  padding: 30px;
}

header{
    text-align: center;
    padding-top: 20px;
    background-color: #ffff40;
    
}




body{
    background-color: #191970;
    font-family: 'Roboto', sans-serif;
    color: 		#95cce8;
}

.formulario{
    display: flex;
    flex-direction: column;
}
form{ 
   width: 500px;
}

.terra{
 padding-left: 100px;
   
}

img{
    width: 100px;
}

.textolog{
    background-color: #191970;
    color: #ffffff;
    border: 5px solid rgb(21, 0, 212);
    margin: 20px;
}

.linhash{
    width: 40%;
    margin: 0 auto;
    
}

.textologg{
 padding-top: 30px;
}

header{
    background-image: url(../imagens/sustentahabilidade.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    
}

.companhiaxxx{
 padding-right: 350px;
}
footer{
    
    padding: 60px;
    text-align: center;
    background-color: #00B400;
}
.direitos{
    width: 40%;
}

.xxx{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: start;

}

.formszinz{
    border-radius: 15px;
   
    margin: 0 auto;
    width: 80%;
    color: #95cce8;
    margin-top: 0px;
    padding: 50px;
}

.formptbaixo{
   
}

.a{
    padding: 10px;
}

h2{
    padding-top: 20px;
}

.cadastro{
    padding-top: 20px;
}

.nav{
    background-color: #00B400;
    
}
.nav-link{
    color: #95cce8;
    font-size: 25px;
}


.bot{
   padding-top: 40px;
    width:  50%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.maediv{
   
}

.limpar{
    background-color: rgb(253, 253, 253);
    border: solid rgb(54, 51, 51);
    width: 400px;
    color: rgb(54, 51, 51);
    border-radius: 15px;
    margin: 30px;
    padding: 50px;
}
.lp{
    margin-bottom: 20px;
    margin-top: 20px;
}

#id{
    height: 50px;
}

.cv{
    padding-top: 20px;
}

.obs{
    color: red;
    font-size: 25px;
}